---
const year = new Date().getFullYear();
---

<footer class="py-10">
  <div class="container text-center border-t border-gray-300 pt-5">
    <p>Copyright © {year}, Young India Publication</p>
  </div>
</footer>
