---
const navItems = [
  { href: "/bookshowcase", text: "Books" },
  { href: "/about", text: "About Us" },
];
---

<header class="py-5">
  <div class="container flex items-center justify-between">
    <a href="/" class="block w-20 aspect-square">
      <img
        class="w-full h-full object-contain object-center"
        src="/images/logo.svg"
        alt=""
      />
    </a>
    <ul class="flex items-center lg:gap-8 gap-3.5">
      {
        navItems.map((item) => (
          <li>
            <a
              class="text-xl font-semibold transition-all hover:text-[#780C28]"
              href={item.href}
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href="/contact"
      class="block bg-maroon text-white px-3.5 py-2.5 rounded-lg"
    >
      Contact Us</a
    >
  </div>
</header>
