---
import { ClientRouter, fade } from "astro:transitions";

import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../libs/astro-init.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/lenis@1.1.9/dist/lenis.css"
    />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>
  <body class="bg-indigo-50" transition:animate={fade({ duration: "0.8s" })}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script is:inline>
  AOS.init();

  document.addEventListener("DOMContentLoaded", () => {});
</script>
